# cached files
*.pyc

# sqlite database
*.sqlite

# SAM models
*.pth

# data
data/*

# logs
3.extract_features/notebooks/logs
4.extract_features/notebooks/logs/
4.extract_features/scripts/logs/

# run info
5.process_features/notebooks/runinfo/*
5.process_features/scripts/runinfo/*
